
#flash-title-text {
    color: white;
}

#flash-title-input {
    background-color: #403369;
    color: white;
    border-color: #D04976;
    text-align: center;
}
#flash-button{
    background-color: #BF40BF;
    color: white;
}

#flash-button:hover {
    background-color: #bf0dbf;
}

#flash-card-c{
    padding: 10px;
    background-color: #170B3B;
}

#flash-cardtitle-input{
    background-color: #403369;
    color: white;
    border-color: #D04976;
    text-align: center;
}

#flash-cardbody-input{
    background-color: #403369;
    color: white;
    border-color: #D04976;
    min-height: 32;
    resize: none;
    overflow: hidden;
}

#flash-text-a{
    padding: 10px;
    color: white;
}

#flash-text-s{
    width: 100%;
    background-color: #170B3B;
    padding: 5px;
    padding-bottom: 50px;
    color: white;
    border-color: #D04976;
    overflow: hidden;
}

#show-content{
    color: white;
}

#show-title{
    color: white;
}

