#header-bg {
    background-color: #170B3B;
}

#quiz-title-text {
    color: white;
}

#question-bg {
    background-color: #170B3B;
}

#quest-title-text {
    color: white;
}

#option-text {
    color: white;
}

#short-answer-input {
    background-color: #403369;
    color: white;
    border-color: #D04976;
}

#submit-quiz-button {
    background-color: #BF40BF;
    color: white;
}

#submit-quiz-button:hover{
    background-color: #bf0dbf;
}

#try-again-button {
    background-color: #D04976;
    color: white;
}

#try-again-button:hover{
    background-color: #cf1352;
}

#return-button {
    background-color: #953553;
    color: white;
}

#return-button:hover {
    background-color: #940733;
}